parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface\\:\\:setTemplate\\(\\)\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkWizzard.php

		-
			message: "#^Anonymous variable in a (.*) method call can lead to false dead methods\\. Make sure the variable type is known$#"
			paths:
				- ../Tests/

		-
			message: "#^Call to an undefined method (.*)::expects\\(\\)\\.$#"
			paths:
				- ../Tests/

		-
			message: "#^Use custom exceptions instead of native \"InvalidArgumentException\"$#"
			paths:
				- ../Classes/

		-
			message: "#^Call to an undefined method (.*)::method\\(\\)\\.$#"
			paths:
				- ../Tests/

		-
			message: "#^Parameter (.*) \\$object of method (.*) expects AOE\\\\HappyFeet\\\\Domain\\\\Model\\\\Footnote, stdClass given\\.$#"
			paths:
				- ../Tests/Functional/Domain/Repository/FootnoteRepositoryTest.php

		-
			message: "#^Property AOE\\\\HappyFeet\\\\Typo3\\\\Hook\\\\LinkWizzard::\\$identifier is never read, only written\\.$#"
			paths:
				- ../Classes/Typo3/Hook/LinkWizzard.php

		-
			message: "#^Property TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController::\\$tmpl \\(TYPO3\\\\CMS\\\\Core\\\\TypoScript\\\\TemplateService\\) does not accept stdClass\\.$#"
			paths:
				- ../Tests/Functional/Service/RenderingServiceTest.php
