parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:getQueryBuilderForTable\\(\\)\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/FootnoteRepository.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\ForwardCompatibility\\\\Result\\|int\\|string\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/FootnoteRepository.php

		-
			message: "#^Method AOE\\\\HappyFeet\\\\Domain\\\\Repository\\\\FootnoteRepository\\:\\:getFootnoteByUid\\(\\) should return AOE\\\\HappyFeet\\\\Domain\\\\Model\\\\Footnote\\|null but returns object\\|null\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/FootnoteRepository.php

		-
			message: "#^Method AOE\\\\HappyFeet\\\\Service\\\\FCEFootnoteService\\:\\:getCObj\\(\\) should return TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer but returns TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer\\|null\\.$#"
			count: 1
			path: ../Classes/Service/FCEFootnoteService.php

		-
			message: "#^Call to an undefined method object\\:\\:setTemplatePathAndFilename\\(\\)\\.$#"
			count: 1
			path: ../Classes/Service/RenderingService.php

		-
			message: "#^Method AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\:\\:createView\\(\\) should return TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView but returns object\\.$#"
			count: 1
			path: ../Classes/Service/RenderingService.php

		-
			message: "#^Method AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\:\\:getContentObjectRenderer\\(\\) should return TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer but returns object\\.$#"
			count: 1
			path: ../Classes/Service/RenderingService.php

		-
			message: "#^Parameter \\#1 \\$richText of method AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\:\\:renderRichText\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: ../Classes/Service/RenderingService.php

		-
			message: "#^Property AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\:\\:\\$contentObjectRenderer \\(TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer\\|null\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Service/RenderingService.php

		-
			message: "#^Cannot call method renderFootnotes\\(\\) on AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\|null\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkRenderer.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkRenderer.php

		-
			message: "#^Property AOE\\\\HappyFeet\\\\Typo3\\\\Hook\\\\LinkRenderer\\:\\:\\$renderingService \\(AOE\\\\HappyFeet\\\\Service\\\\RenderingService\\|null\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkRenderer.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface\\:\\:setTemplate\\(\\)\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkWizzard.php

		-
			message: "#^Call to an undefined method object\\:\\:asString\\(\\)\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkWizzard.php

		-
			message: "#^Call to an undefined method object\\:\\:displayRecordsForPage\\(\\)\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkWizzard.php

		-
			message: "#^Offset 'selector' does not exist on array\\|string\\.$#"
			count: 1
			path: ../Classes/Typo3/Hook/LinkWizzard.php

