{namespace hf=Tx_HappyFeet_ViewHelpers}<hf:flatify>
    <sup class="footnote" data-footnote="">
        <a href="javascript:void(0)" class="footnote__link">
            <span class="footnote__index">
                <f:for each="{footnotes}" as="footnote" iteration="iterator">
                    {footnote.indexNumber}<f:if condition="{iterator.isLast} == 0">, </f:if>
                </f:for>
            </span>
            <span class="footnote__icon"></span>
        </a>
        <span class="footnote__content">
            <f:for each="{footnotes}" as="footnote">
                <span class="footnote__content-index">{footnote.indexNumber}</span>
                <span class="footnote__content-headline" data-footnote-index="{footnote.indexNumber}">{footnote.header}</span>
                <span class="footnote__content-text">
                    <f:format.html parseFuncTSPath="lib.parseFunc_HappyFeed">{footnote.description}</f:format.html>
                </span>
            </f:for>
        </span>
    </sup>
</hf:flatify>